.front {
    z-index: 10;
}

#POV {
    position: relative;
    right: 10px;
}

#infoText {
    position: fixed;
    top: 10%;
    left: 10px;
    color: white;
}

#joystick-container {
    width: 150px;
    height: 150px;
    position: fixed; /* Cambiado a 'fixed' para posicionar relativo a la ventana */
    bottom: 10%; /* Ajusta la distancia desde el borde inferior */
    right: 10%;
    border-radius: 50%;
    border: 2px solid black;
    touch-action: none; /* Importante para prevenir comportamiento táctil predeterminado */
}

.w3-container {
    
    width: 100%;
    display: flex;
    justify-content: flex-start; /* Centra horizontalmente */
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    /* Hace que los hijos igualen la altura del más alto */

}

.zone {
    flex: 1; /* Cada zona ocupa un tercio del espacio total */
    padding: 10px;
}

#joystick {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Ajustes de la toolbar */
.toolbar {
    /* position: fixed; */
    width :100%;
    display: flex;
    flex-direction: row; /* Mantiene la disposición vertical */
    gap: 1rem; /* Espacio entre los elementos dentro de toolbar */
    height: auto;           /* ✨ Asegura que crece con el contenido */
    align-items: center;

  
}

.toolbarAnimation {
    position: fixed;
    left: 0; /* Lo pone a la izquierda de la pantalla */
    top: 0;  /* Puedes ajustar este valor si quieres que no esté pegado al borde superior */
    
    display: flex;
    flex-direction: row; /* Mantiene la disposición horizontal */
    gap: 1rem; /* Espacio entre los elementos dentro de la toolbar */
    height: auto; /* ✨ Asegura que crece con el contenido */
    align-items: center;
    margin-top: 5rem;
    margin-left: 1.5rem;
}

#rotationSliderContainer {
    display: flex;
    flex-direction: column;  /* Deja el label encima del slider */
    gap: 2rem;
    padding: 2px ;
    width: 100%;
}

.slidecontainer {
    position:fixed;
    display: flex;
    flex-direction: column;  /* Mantiene el label sobre el slider */
    gap: 0.5rem;  /* Espacio entre el label y el slider */
    width: 100%;
    margin-top: 5rem;
    padding: 10px;
}

.coordinates {
    position: fixed;
    top: 1rem;              /* Distancia desde la parte superior */
    left: 50%;              /* Posición desde la izquierda */
    transform: translateX(-50%); /* Centra horizontalmente */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    padding: 10px;
 
}


.durationContainer {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content:center ;
    flex-direction: column;  /* Mantiene el label sobre el slider */
    gap: 0.5rem;  /* Espacio entre el label y el slider */
    margin-top: 0rem;
    padding: 10px;
    height:100%;
}
.centerContent{
    display: flex;
    flex-direction:column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

/* Estilo para el slider */
.slider {
    width: 100%; /* Hace que el slider ocupe todo el ancho disponible */
    max-width: 300px; /* Limita el tamaño máximo para evitar que se estire demasiado */
}

/* Estilo para el botón delete */
#delete {
    position: fixed;
    top: 1rem;
    right: 1rem;
    
    margin-top: 0; /* Ya no necesitas margin-top porque usamos top */
    margin-left: auto;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
    max-width: 150px;
    border-radius: 15px;
    height: auto; /* Ajusta la altura automáticamente */
    /* z-index: 1000; Opcional: para asegurarte de que esté por encima de otros elementos */
  }
  
#copy {
    /* margin-left: auto; */
    padding: 10px;
    background-color: rgb(255, 255, 255,0.6)
    ; /* Color de fondo */
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
    max-width: 150px; /* Limita el tamaño máximo del botón */
    height: 70%;
    border-radius: 15px;
}

#removeFrames {
    /* margin-left: auto; */
    padding: 10px;
    background-color: #f44336
    ; /* Color de fondo */
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
    max-width: 150px; /* Limita el tamaño máximo del botón */
    height: 70%;
    border-radius: 15px;
}

#POV {
    position: fixed;
    top: 5rem;
    right: 1rem;
    padding: 10px;
    background-color: rgb(255, 255, 255,0.6); /* Color de fondo */
    color: black;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
    max-width: 150px; /* Limita el tamaño máximo del botón */
    height: auto;
    border-radius: 15px;
}
.circle {
    position: absolute;
    top: 50%;
    right: 50%;

    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;

  }
#x {
    width: 30%
}
#z {
    width: 30%
}