.front {
    z-index: 10;
}

#POV {
    position: relative;
    right: 10px;
}

#infoText {
    position: fixed;
    top: 10%;
    left: 10px;
    color: white;
}

#joystick-container {
    width: 150px;
    height: 150px;
    position: fixed; /* Cambiado a 'fixed' para posicionar relativo a la ventana */
    bottom: 10px; /* Ajusta la distancia desde el borde inferior */
    right: 10px;
    border-radius: 50%;
    border: 2px solid black;
    touch-action: none; /* Importante para prevenir comportamiento táctil predeterminado */
}

.w3-container {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    /* Hace que los hijos igualen la altura del más alto */

}

.zone {
    flex: 1; /* Cada zona ocupa un tercio del espacio total */
    padding: 10px;
}

#joystick {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Ajustes de la toolbar */
.toolbar {
    /* position: fixed; */
    width :100%;
    display: flex;
    flex-direction: row; /* Mantiene la disposición vertical */
    gap: 1rem; /* Espacio entre los elementos dentro de toolbar */
    height: auto;           /* ✨ Asegura que crece con el contenido */
    align-items: center;
  
}

#rotationSliderContainer {
    display: flex;
    flex-direction: column;  /* Deja el label encima del slider */
    gap: 1rem;
    width: 100%;
}

.slidecontainer {
    display: flex;
    flex-direction: column;  /* Mantiene el label sobre el slider */
    gap: 0.5rem;  /* Espacio entre el label y el slider */
    width: 100%;
    margin-top: 1rem;
    padding: 10px;
}

.durationContainer {
    display: flex;
    flex-direction: column;  /* Mantiene el label sobre el slider */
    gap: 0.5rem;  /* Espacio entre el label y el slider */
    margin-top: 1rem;
    padding: 10px;
    height:100%;
}


/* Estilo para el slider */
.slider {
    width: 100%; /* Hace que el slider ocupe todo el ancho disponible */
    max-width: 300px; /* Limita el tamaño máximo para evitar que se estire demasiado */
}

/* Estilo para el botón delete */
#delete {
    margin-top: 1rem; /* Ajusta el espacio entre el slider y el botón */
    margin-left: auto;
    padding: 10px;
    background-color: #f44336; /* Color de fondo */
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
    max-width: 150px; /* Limita el tamaño máximo del botón */
    height: 70%
}

#copy {
    margin-top: 1rem; /* Ajusta el espacio entre el slider y el botón */
    /* margin-left: auto; */
    padding: 10px;
    background-color: #f44336; /* Color de fondo */
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
    max-width: 150px; /* Limita el tamaño máximo del botón */
    height: 70%
}

#POV {
    margin-top: 1rem; /* Ajusta el espacio entre el slider y el botón */
    /* margin-left: auto; */
    padding: 10px;
    background-color: #f44336; /* Color de fondo */
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
    max-width: 150px; /* Limita el tamaño máximo del botón */
    height: 70%
}